:root {
  --black: #0A0A0A;
  --bg: #050505;
  --bg2: #111111;
  --dark-grey: #1A1A1A;
  --grey: #808080;
  --white: #FFFFFF;
  --orange: #FF6B00;
  --dark-orange: #C94F00;
  --card: #141414;

  --font-display: 'Space Grotesk', sans-serif;
  --font-body: 'Inter', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;

  --wrap: 1240px;
  --nav-h: 84px;
}